<style>
.container {
  display: grid;
  row-gap: 20px;
  background-color: dodgerblue;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>

<div class="container">
  <div>Bulbasaur</div>
  <div>Ivysaur</div>
  <div>Venusaur</div>  
  <div>Charmander</div>
  <div>Charmeleon</div>
  <div>Charizard</div>  
  <div>Squirtle</div>
  <div>Wartortle</div>
  <div>Blastoise</div>
</div>
